/* You can add global styles to this file, and also import other style files */
body{background-image: url("https://images.pexels.com/photos/672998/pexels-photo-672998.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
background-size:cover;
font-size:20px;
color:rgb(235, 223, 223);
font-family:'Courier New', Courier, monospace;}
form{background-color:rgb(235, 223, 223);
color:rgb(42, 40, 40);
padding:50px;
width: 30%;}