/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body{background-image: url("https://images.pexels.com/photos/1374525/pexels-photo-1374525.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
background-size:cover;
color:rgb(235, 223, 223);
font-family:'Courier New', Courier, monospace;}